<% include partials/header %>
<h1>Check Out <%= book.title%></h1>
<p>
	<%= wine.varietal %>
	<%= wine.vintage %>
	<%= wine.color %>
	<%= wine.appelation %>
	<%= wine.image %>
	
</p>

<a href="/">Go Back</a>
<% include partials/header %>